<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Meals</h1>
    <ul>
    <% meal.forEach( el => { %>
            <li class='mealItems' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.meal %></span>
                <div class="link-con">
                    <a href="<%= el.link %>" target="blank">Link</a>
                </div>
                <div>
                    <img class="food-img" src="<%= el.img %>" alt="food pic">
                </div>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> meals planned.</h2>

    <form action="/meals/createMeal" method='POST'>
        <input type="text" placeholder="Enter Meal Item" name='mealItem'>
        <input type="url" placeholder="Enter Recipe Link" name='link'>
        <input type="url" placeholder="Enter Image URL" name='img'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>